[user]
  useConfigOnly = true

[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  trustctime = false
  precomposeunicode = false
  untrackedCache = true
  pager = delta

[init]
  defaultBranch = develop

[rerere]
	enabled = true

[branch]
  sort = -committerdate

[push]
  default = simple
  ff = only

[help]
  autocorrect = 1

[commit]
  verbose = true

[gpg]
  format = ssh

[diff]
  algorithm = histogram

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[merge]
  conflictStyle = zdiff3

[url "git@github.com:"]
  insteadOf = "gh:"

[includeIf "gitdir:~/.dotfiles/"]
  path = ~/Sources/personal/.gitconfig

[includeIf "gitdir:~/Sources/personal/**/*"]
  path = ~/Sources/personal/.gitconfig

[includeIf "gitdir:~/Sources/work/**/*"]
  path = ~/Sources/work/.gitconfig

